extends ./layout
block content
    section#description
        header
            h1 About
        p.about-image
            img(src='/images/about-image.png', alt='COLORS.とは', width='320', height='127')
        .read
            p
                | 「COLORS.」は、お絵かきしながらチャットを楽しめる
                | お絵かきチャットサービスです。
            p チャットでは、サービスを利用している人全員と話す事ができます。
            p お絵描き自身は一人1キャンバスになります。
            p 描き終えたら当サービスで加工をして楽しむ事ができます。
            p
                | また保存して見て楽しんだり、SNSで他の人に描いた絵
                | を紹介する事ができます。

