doctype html
html(lang="ja").no-js
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    block styles
        link(href="styles/common.css",rel="stylesheet")
        link(href="styles/farbtastic.css",rel="stylesheet")
        link(href="styles/paint.css",rel="stylesheet")
  body.draw
    block body
      article.mainview
          #wrap
              section.header-navi.clearfix
                block header
                    header
                        h1
                            a(href='/')
                                span C
                                | OLORS.
                    nav
                        ul.clearfix
                            li.back
                                img(src='/images/parts.png', height='195', width='241', alt='戻る')
                            li.next
                                img(src='/images/parts.png', height='195', width='241', alt='進む')
                            li.local-save
                                img(src='/images/parts.png', height='195', width='241', alt='ローカル保存')
                            li.delete
                                img(src='/images/parts.png', height='195', width='241', alt='レイヤーの内容を消す')
                            li.save SAVE
              block content
    block footer
        footer#paint
            p  © COLORS.
    block script
        // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
        // SCRIPTS
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/lib/jquery-2.1.1.min.js"></script>
        <script src="/js/farbtastic.js"></script>
        // SCRIPTS END
