extends ./layout
block content
    section#description
        header
            h1.line How to
        ol
            li.clearfix
                figure
                    img(src='/images/howto-image01.png', width='125', height='125', alt='使い方1')
                p
                    span 1.
                    | Drawボタンを押しペイントページへ進みます。
            li.clearfix
                figure
                    img(src='/images/howto-image02.png', width='125', height='125', alt='使い方1')
                p
                    span 2.
                    | ペンツールなどを使い好きなものを描いて下さい。
                    br
                    | 各ツールの使い方はツールチップをOn状態にしていると閲覧できます。
                p.note ※初期状態はOnです。
            li.clearfix
                figure
                    img(src='/images/howto-image03.png', width='125', height='125', alt='使い方1')
                p
                    span 3.
                    | チャット機能を使い他に絵を描いているユーザと話す事ができます。
            li.clearfix
                figure
                    img(src='/images/howto-image04.png', width='125', height='125', alt='使い方1')
                p
                    span 4.
                    | 描き終わったら加工をする事が可能です。
                    br
                    | しない場合はそのままSNSにシェアしたり、保存して楽しむ事ができます。

