doctype html
html(lang="ja").no-js
    head
        meta(charset="utf-8")
        title あああ
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        block styles
            link(href="styles/common.css",rel="stylesheet")
    body.page
        block body
            #wrap
                #wrap_in
                    .inner.clearfix
                        article
                            block header
                                header
                                    h1
                                        a(href='/')
                                            span C
                                            | OLORS.
                            block content
                        block navi
                            nav
                                ul
                                    li
                                        a(href='/about') About
                                    li
                                        a(href='/how') How to
                                    li
                                        a(href='/draw') Draw
                                    li
                                        a(href='/sitemap') Sitemap
        block footer
            footer
                p  © COLORS.
